In [2]:
print('hello world')

hello world

In [3]:
print('new')

new

# Obiekty i podstawoe struktury danych

In [4]:
2+1

3

In [5]:
2-1

1

In [6]:
2*2

4

In [7]:
3/2

1.5

In [11]:
# Modulo
7 % 4

3

In [12]:
50 % 5

0

In [17]:
# potęgowanie
2 ** 3

8

In [18]:
(2+ 10)*(10+3)

156

## Przypisanie wartości

In [25]:
my_dogs = 2

In [21]:
my_dogs

2

In [22]:
my_dogs = ["Dog", "Cat"]

In [23]:
my_dogs

['Dog', 'Cat']

In [26]:
type(my_dogs)

int

In [27]:
a = 10

In [28]:
a = a+a

In [29]:
a

20

In [30]:
a = 30.1

In [31]:
type(a)

float

In [32]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income = tax_rate

## string

In [35]:
print("I'm going run \n test") # \n to nowa linia

I'm going run
 test

In [36]:
len("XD")

2

## Indeksowanie i ucinanie kodu

In [37]:
mystering = "Hello World"

In [38]:
mystering

'Hello World'

In [39]:
mystering[0]

'H'

In [40]:
mystering[8]

'r'

In [41]:
mystering[-2]

'l'

In [42]:
mystering = "abcdefghijk"

In [43]:
mystering

'abcdefghijk'

In [44]:
mystering[2:] #od drugiej do końca

'cdefghijk'

In [45]:
mystering[:3] # od 0 do 3 (nie uwzględnia tej 3)

'abc'

In [47]:
mystering[3:6]

'def'

In [48]:
mystering[::] # weź wszystko

'abcdefghijk'

In [49]:
mystering[::2] #wszystko ale skać co 2

'acegik'

In [50]:
mystering[::-1] #wszystko ale od końca

'kjihgfedcba'

# Immutabiliy - niezmienność

In [51]:
name = "Sam"

Nie można zmieniać pojedynczych liter stringu

In [53]:
last_letters = name[1:]

In [55]:
"P" + last_letters # łączenie zmiennych

'Pam'

In [56]:
x = 'Hello World'

In [58]:
x + " it is cold"

'Hello World it is cold'

In [68]:
x.lower()

'hello world'

In [70]:
x.split()

['Hello', 'World']

In [71]:
my_name = "Kacper"

In [72]:
print("Hello " + my_name)

Hello Kacper

## .format()

In [77]:
# zamiast plusa można użyć .format('sth', 'sth)
print('ABCD {} {}'.format('EFG', ' xD')) # kolejne elementy format wchodzą w kolejne {}

ABCD EFG  xD

In [79]:
print('ABCD {1} {0}'.format('EFG', 'xD')) # można indeksować

ABCD xD EFG

In [80]:
print('ABCD {b} {b}'.format(a='EFG', b='xD')) # można indeksować literami

ABCD xD xD

In [81]:
result = 69/666

In [82]:
print("The result was {r}".format(r=result))

The result was 0.1036036036036036

In [87]:
print("The result was {r:10.3f}".format(r=result)) #{wartość:długość przerw:długość}

The result was      0.104

In [89]:
print("The result was {result}") # mona od razu w nawiasy

The result was {result}

## wrzucenie czegoś w środek tekstu

In [90]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

In [91]:
print('He said his name was %s.' %'Fred') #s wrzuca to co jest w ''
print('He said his name was %r.' %'Fred') #r wrzuca razem z '' , czyli można użyć np \n lub \t

He said his name was Fred.
He said his name was 'Fred'.

In [92]:
print('I wrote %s programs today.' %3.75) #s bierze tak jak jest 
print('I wrote %d programs today.' %3.75) #d tylko liczbe całkowitą bez zaokrąglenia

I wrote 3.75 programs today.
I wrote 3 programs today.

In [94]:
# po liczbie znaków
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

# LISTS

In [95]:

my_list = [1, 2, 3]

In [96]:
len(my_list)

3

In [97]:
mylist = ['one', 'two', 'three']

In [98]:
mylist[0]

'one'

In [99]:
mylist[1:]

['two', 'three']

In [100]:
another_list = ['four', 'five']

In [103]:
new_list = mylist + another_list # połączenie kilku list na raz

In [102]:
mylist + mylist

['one', 'two', 'three', 'one', 'two', 'three']

In [104]:
new_list[0] = 'ONE' # zmiana wartości

In [105]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [106]:
# dodanie elementów 

new_list.append('six')

In [109]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six', 'seven']

In [108]:
new_list.append('seven')

In [110]:
# usuwanie elementów
new_list.pop() # usunięcie ostatniego elementu

'seven'

In [111]:
new_list

['ONE', 'two', 'three', 'four', 'five', 'six']

In [112]:
popped_item = new_list.pop()

In [113]:
popped_item

'six'

In [115]:
new_list

['ONE', 'two', 'three', 'four', 'five']

In [116]:
#usuwanie z pewnego indeksu
new_list.pop(0) #wpisanie indeksu

'ONE'

In [117]:
new_list = ["a", "b", "x", "s"]

In [118]:
num_list = [4, 6, 3, 7]

In [119]:
new_list.sort() #zmienia new_list

In [121]:
new_list

['a', 'b', 's', 'x']

In [122]:
num_list.sort()

In [123]:
num_list

[3, 4, 6, 7]

In [124]:
num_list.reverse() #odwrócenie listy

In [125]:
num_list

[7, 6, 4, 3]

# Dictionaries

In [126]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [127]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [129]:
my_dict['key1'] #wydobycie po kluczu wartości

'value1'

In [130]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.89}

In [132]:
prices_lookup['apple']

2.99

In [136]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'key1':100, 'key2':200}}

In [137]:
d['k2'][2]

2

In [139]:
d['k3']['key1']

100

In [142]:
d = {'k1':100, 'k2':300}
d['k3'] = 300 #dodanie
d['k1'] = 10 #zmiana wartości

In [143]:
d['k1'] = 100

In [145]:
d.values() #zwócenie wektora wartości

dict_values([100, 300, 300])

In [146]:
d.items() #zwrócenie par

dict_items([('k1', 100), ('k2', 300), ('k3', 300)])

# Tuples

In [147]:
t = (1, 2, 3)

In [148]:
mylist = [1, 2, 3]

In [149]:
type(t)

tuple

In [150]:
t = ('one', 2)

In [151]:
t[-1]

2

In [152]:
t = ('a', 'a', 'b')

In [154]:
t.count('a') #ile razy a się pojawia

2

In [155]:
t.index('a') #index pierwszej loklaizacji

0

# Sets

In [156]:
myset = set()

In [157]:
myset.add(1)

In [164]:
myset

{1, 2, 'a'}

In [159]:
myset.add(2)

In [161]:
myset.add(2)

In [163]:
myset.add('a')

In [167]:
mylist = [4,4,4,4,1,1,1,1,1,2,2,2,2,3,3,3,3]

In [168]:
set(mylist) # sortują

{1, 2, 3, 4}

In [169]:
set('Mississippi') #unikatowe litery

{'M', 'i', 'p', 's'}

In [171]:
1 == 1

True

In [172]:
1 > 2137

False

# Files

In [173]:
file = open('myfile.txt') #wpisanie direcotry

UsageError: Cell magic `%%` not found.

In [174]:
pwd # ściekzka gdzie jest plik

'/Users/kacpermiechowicz/Desktop/Python Bootcamp'

In [175]:
myfile.read() #zaczytanie pliku stąd - wszystko będzie jako linie #po tym trzeba dać myfile.seek(0) źeby wrócić do pocątku

NameError: name 'myfile' is not defined

In [ ]:
myfile.readlines() # znalezienie linii tekstu pliku

In [ ]:
myfile.close() #zamknięcie tej ściezki

In [ ]:
with open('text.txt') as my_new_file:
    contents = my_new_file.read() # nie trzeba papmiętać o close

In [ ]:
#zapisanie pliku lub napisanie pliku
with open('myfile.txt', mode ='w') as myfile:
    content = myfile.read()

# Python comparision operators

In [176]:
2 == 2

True

In [177]:
2 == 1

False

In [179]:
'Bye' == 'bYe'

False

In [180]:
4 != 5 # nie jest równe

True

## połączenia operatorów porównania
and 
or
not - stosowane dla sprzeczności

In [181]:
1 == 2 or 1==1

True

In [182]:
2 < 4

True

In [183]:
a = 12
b = a - 10
a > b

True

In [184]:
2 <= 3 >= 1

True

# Statements

## If

In [186]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [188]:
loc = 'Bank'

if loc == ' Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("money is cool!")
else:
    print('Idk')

money is cool!

## for loops

wdrożenie iteracji pomiędzy obiektami

In [189]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [194]:
for jelly in mylist:
    print(jelly+1)

2
3
4
5
6
7
8
9
10
11

In [196]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [197]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [198]:
mystring = 'Hello World'

In [199]:
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [200]:
mylist = [(1,2), (3,4), (5,6), (7,8)] #czesto się z tego korzysta

In [202]:
for (a,b) in mylist:
    print(a)
    print(b)
# unpacking listed tuple - tak samo działa to dla dict

1
2
3
4
5
6
7
8

## While loop

In [205]:
x = 0

while x < 5:
    print(f'The Current value of x is {x}')
    x += 1 #bez tego mamy nieskończoną pętlę
else: 
    print('X IS NOT LESS THAN 5')

The Current value of x is 0
The Current value of x is 1
The Current value of x is 2
The Current value of x is 3
The Current value of x is 4
X IS NOT LESS THAN 5

In [ ]:
# key words

In [206]:
x = [1, 2 ,3]

In [207]:
for item in x:
    pass
print('end of my script')

end of my script

In [208]:
mystring = 'Sammy'

In [211]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [214]:
for num in range(0, 11,2): #od 0 do 10
    print(num)

0
2
4
6
8
10

In [215]:
list(range(0,11,2)) #generator

[0, 2, 4, 6, 8, 10]

In [216]:
#enumerate

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [218]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [220]:
# zip fun

mylist1 = [1, 2 ,3]
mylist2 = ['a', 'b', 'c']

for item in zip(mylist1, mylist2):
    print(item) #tworzy nam tuple - będzie łaczyć dla najkrótszej listy

(1, 'a')
(2, 'b')
(3, 'c')

In [221]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [222]:
'x' in ['x', 'y', 'z'] #czy coś jest w danym elemencie

True

In [226]:
from random import randint

In [228]:
randint(0,100) #zwraceie randomowych liczb

38

List comprehensions

In [ ]:
mystring = 'hello'

In [ ]:
for letter in mystring:
    mylist.append(letter)

In [ ]:
mylist